.event-linkad{
  font-size: 20px;
  background-color: #E1AC00;
  border-radius: 20px;
  padding: 7px;
  color: #f9f9f9;
}


.admin-events {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -4rem;
  max-width: 1500px;
}

.admin-events ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.admin-event {
  width: 350px;
  margin: 10px;
  background: #fefefe;
  border-radius: 40px;
  padding-bottom: 2rem;
  padding: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
}

.admin-event:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.admin-event-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
}

.admin-event-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.admin-event-content {
  padding: 15px;
}

.admin-event-content h1 {
  margin: 0 0 10px;
  font-size: 20px;
  text-align: center;
}

.admin-event-content p {
  margin: 0;
  line-height: 1.5;
}


.event-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.event-modal-content{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; 
  max-width: 1300px; 
  background-color: #ffffff;
  z-index: 9999;
  padding: 20px;
  box-sizing: border-box;
  height: 600px;
  border-radius: 20px;
}

.AE-close {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: black;
  font-size: 20px;
}

.event-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}

.event-qr-code {
  width: 48%;
}



.studentinfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 3.6rem;
  
}
.event-attendance-input {
  margin-right: 7rem;
}

.event-attendance-input input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.event-attendance-input button.event-attendance-button {
  padding: 10px 20px;
  background-color: #E1AC00;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
}

.event-student-details {
  text-align: center;
  margin-top: 2rem;
}

.event-student-details img {
  max-width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.event-student-details h1{
  font-size: 1.5em;
}



.event-choices {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.event-choices button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.event-choices button:hover {
  background-color: #ddd;
}



.create-event {
  margin: 30px auto;
  max-width: 800px;
}

.create-event-container {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 580px;
}

.create-event h1 {
  margin-bottom: 20px;
  font-size: 30px;
}

.create-event-form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: .5rem;
}

.create-event-form-row input[type="text"] {
  flex: 3;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 176px;
}

.create-event-form-row input[type="date"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  width: 200px;
  border-radius: 5px;
}

.create-event-form-row input:focus {
  outline: none;
  border-color: #E1AC00;
}

.create-event-form-row input::placeholder {
  color: #999;
}

.create-event-form-row input[type="submit"] {
  background-color: #E1AC00;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-event-form-row input[type="submit"]:hover {
  background-color: #E1AC00;
}

.create-event-btn {
  margin-top: 1rem;
  background-color: #E1AC00;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-event-btn:hover {
  background-color: #c5a53d;
}

.create-event-add-img {
  display: block;
  width: 625px; 
  height: 40px;
  margin: 0 auto; 
  margin-top: 20px; 
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  cursor: pointer;
  outline: none; 
}


.create-event-add-img:hover {
  background-color: #f0f0f0;
}


.create-event-section-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-event-section-modal-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px; 
  width: 100%;
}

.CES-close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 20px;
  color: black;
}

.CES-close:hover {
  color: #555;
}

#sectionSelect {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-event-section-modal-content button {
  background-color: #E1AC00;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px auto 0; 
  display: block; 
}

.create-event-section-modal-content button:hover {
  background-color: #c5a53d;
}

.create-event-section-modal-content p {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}

.event-date{
  text-align: center;
}

.event-select-section-modal{
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
}

.event-select-section-modal-content{
  background-color: #fefefe;
  margin: 12% auto;
  padding: 20px;
  border-radius: 20px;
  max-width: 500px;
  height: 300px;
  overflow-y: auto;
  position: relative;
}

.event-select-section-btn{
    font-size: 20px;
    background-color: #fefefe;
    border: none;
    cursor: pointer;
}

.event-select-section-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .5rem;
  overflow: auto;
  background-color: #E1AC00;
  border-radius: 20px;
  padding: 4px;
}

.event-select-section-container p{
  margin-left: .5rem;
  font-size: 18px;

}
.event-select-section-container button{
  margin-right: .5rem;
  cursor: pointer;
  background-color: #E1AC00;
  font-size: 18px;
}

.event-select-section-container button:hover{
  background-color: #E1AC00;
  color: #fefefe;
}

.event-select-section-btn-action {
  display: flex;
  gap: 10px; 
  margin-left: 1.2rem;
}


.event-select-section-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px; 
  border: none;
  background: none;
  cursor: pointer;
}
.event-select-section-btn:hover{
  background-color: #E1AC00;
  color: #fefefe;
}

.event-select-section-btn svg {
  font-size: 1.2em;
}

.event-edit-closeButton{
  position: relative;
  color: black;
  float: right;
  font-size: 25px;
  margin-top: -1rem;
  cursor: pointer;
}